<template>
  <div id="<%=kebabCaseName%>">
    {{message}}
  </div>
</template>

<script>
  export default {
    name: "<%=name%>",
    props: {},
    data() {
      return {
        message: "<%=name%>"
      }
    },
    components: {},
    computed: {

    },
    methods: {

    },
    mixins: [],
    created() {

    },
    mounted() {

    },
  }
</script>

<style scoped>
  #<%=kebabCaseName%> {}
</style>